
@{
    ViewBag.Title = "Contact";
}



<div class="row" style="background-color:lightgray;">
    <div class="col-md-5">
        <img src="~/Content/Images/stephtoon2.png" style="width:500px;" />
    </div>
    <div class="col-md-7" style="padding:65px;">
    <h1 style="font-weight:700; font-size:53px;">Hello,<br /> is it me you're looking for...</h1>
    </div>
    
    <div class="row">
        
        <div class="col-md-2">
            <a href="https://www.linkedin.com/in/stephaniegandy" target="_blank">
                <img src="~/Content/Images/In-2C-121px-R.png" style="height:100px; width:100px;"/>
            </a>
        </div>
        <div class="col-md-2">
            <a href="https://github.com/sgandy3" target="_blank">
                <img src="~/Content/Images/GitHub-Mark-120px-plus.png"style="height:100px; width:100px;" alt="Github;" />
            </a>
        </div>
        <div class="col-md-2">
        </div>

         <!-- <img src="~/Content/Images/purplemailcrop.png" id="mail"style="height:100px; width:100px" />
            
            
            
            
        
        <div class="col-md-6"></div>
        <div class="row">
            <div class="col-md-12">
                <div id="email">
                    <p style="text-align:center">sgandy3@yahoo.com</p>
                </div>
                <script>
                    $("#mail").click(function () {
                        $("#email").hide(1000);
                    });
            $(document).ready(function(){
            $("#mail").click(function(){
            $("#email").toggle();
                });
            });
                </script>  
            </div>

        </div>-->

    </div>
</div>




